body{
    padding-top: 50px;
    background: url(logo.jpg);
    background-size: cover;
    opacity: 150px;
    background-repeat: repeat-y;
}
h1{
    color: white;
}
h5{
    color: white;
}
h3{
    color: white;
}
.padding{
    padding-top: 10px;
}

#painel{
    width: 400px;
    height: 400px;
    text-align: center;
    border: 1px solid black;
    margin-left: 350px;
    box-shadow: 10px 5px;

}

.form-label{
    color: black;
    text-decoration:solid;
}

#user{
    border-color: black;
    
}
#password{
    border-color: black;
    
}

.userCriado1{
    transition: 0.3s;
}
#userCriado{
    padding-top: 10px;
}
#coresCabe{
    color: white;
}


#tabela{
    color: white;
}

td{
    color: white;
}